.container {
    display: flex;
    flex: 1 1 auto !important;
    justify-content: center;
    align-items: center;
}

.loader {
    width: min(80vmin, 48px);
    height: min(80vmin, 48px);
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #9facec88;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: min(80vmin, 48px);
    height: min(80vmin, 48px);
    border-radius: 50%;
    border-bottom: 4px solid #9facec88;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }